<div id="regulation-vs-endangered"></div>
<p class="card-text">In this area range chart the average upper bound of endangered animal species and average lower bound of endangered animal species are shown and grouped by the amount of regulations that are in place to enforce the animal welfare in various coutries around the world. If we take a closer look at the results of the visualisation we can conclude that there are generally more endangered species in coutries with many laws to enforce animal welfare. This could be because the animals in these countries are in freat need of these regulations to prevent them from going extinct.</p>
<i>Sources:<br>
    <a href="https://api.worldanimalprotection.org/indicators#">Protection of animal welfare in various countries around the world </a> <br>
    <a href="https://www.endangeredearth.com/threatened-by-country/">Endangered Animals per country </a><br>
</i>

<script>
    function createChart() {
        $("#regulation-vs-endangered").kendoChart({
            title: {
                text: "Amount of endangered animal species in a country VS amount of laws to enforce animal welfare"
            },
            series: [{
                type: "rangeArea",
                data: [[75, 205],[59, 265],[84, 366], [48, 335], [166, 449]]
            }],
            seriesDefaults: {
                labels: {
                    visible: true,
                    from: {
                        template: "#=value.from# ",
                    },
                    to: {
                        template: "#=value.to# ",
                    }
                }
            },
            categoryAxis: {
                categories: ["[Almost no laws to enforce animal welfare]", "[Not many laws to enforce animal welfare]","[Some laws to enforce animal welfare]","[Many laws to enforce animal welfare]","[Very many laws to enforce animal welfare]" ],
                labels: {
                    rotation: "auto"
                }
            },
            tooltip: {
                visible: true,
                template: "Upper bound average amount of : #= value.from # endangered species <br>" +
                    "Lower bound average amount of : #= value.to # endangered species"
            }
        });
    }

    $(document).ready(createChart);
    $(document).bind("kendo:skinChange", createChart);

    $(window).resize(function(){
        $("#regulation-vs-endangered").data("kendoChart").refresh();
    });
</script>
