<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">Tiger King or Tiger Tyrant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item px-2"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item px-2"><a href="regulations.html" class="nav-link">Regulations</a></li>
                <li class="nav-item px-2"><a href="humans.html" class="nav-link">Humans</a></li>
                <li class="nav-item px-2"><a href="extinction.html" class="nav-link">Extinction</a></li>
            </ul>
        </div>
    </div>
</nav>