<h4>Incidents in U.S. Zoos (2014 - 2018)</h4>
<div id="zoo-incident-map"></div>
<div id="story-container" class="mt-4 mb-4" style="min-height: 250px">
    <div class="card" style="min-height: 40px">
        <div class="card-body">
            <h5 class="card-title">Flint, Michigan (May 1, 2015)</h5>
            <p class="card-text">According to a USDA inspection report, a 50-pound cougar being exhibited by The Creature Conservancy became agitated and leaped off a platform in the direction of the general public. The handlers were able to restrain him with leads attached to two collars on his neck, but he remained agitated and attempted to strike the handlers. The reportstated that the cougar was too large, fast, and unpredictable to be exhibited to the public in this manner. </p>
        </div>
    </div>
    <small class="ml-4">Source: <a href="https://www.mediapeta.com/peta/pdf/Big-Cat-Incident-List-US-only.pdf">https://www.mediapeta.com/peta/pdf/Big-Cat-Incident-List-US-only.pdf</a></small>
</div>

<script>
    function createMap() {
        $("#zoo-incident-map").kendoMap({
            center: [40, -100],
            zoom: 4,
            minZoom: 4,
            maxZoom: 7,
            layers: [{
                type: "tile",
                urlTemplate: "http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png",
                subdomains: ["a", "b", "c"],
                attribution: "&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>"
            }, {
                type: "marker",
                dataSource: {
                    transport: {
                        read: {
                            url: "data/incidents-in-zoos.json",
                            dataType: "json"
                        }
                    }
                },
                locationField: "Location",
                titleField: "City"
            }],
            markerClick: onMarkerClick,
            markerActivate: function(e) {
                $(e.marker.element.context).css("color", "#FF3D00")
            }
        });
    }

    function onMarkerClick(e) {
        const container = $("#story-container");
        const dataItem = e.marker.dataItem;
        container.find(".card-title").html(dataItem.City + ', ' + dataItem.State + ' (' + dataItem.Date + ')');
        container.find(".card-text").html(dataItem.Story);
    }

    $(document).ready(createMap);

    $(window).resize(function(){
        const map = $("#zoo-incident-map").data("kendoMap");
        map.resize();
        map.center([40, -100])
    });
</script>