<h4>Amount of tigers left in the wild per country</h4>
<p>Tiger numbers have been steadily declining in the wild, this visualisation aims to show where the remaining population of tigers remains in the wild and how this distribution has changed</p>
<div class="k-content wide">
    <div id="tigers-in-the-wild"></div>
</div>
<small>sources: <br>
    <a href="http://awsassets.wwf.es/downloads/2012_07_24_datasheet_tiger.pdf">http://awsassets.wwf.es/downloads/2012_07_24_datasheet_tiger.pdf</a> <br>
    <a href="https://www.worldatlas.com/articles/countries-with-the-greatest-number-of-wild-tigers.html">https://www.worldatlas.com/articles/countries-with-the-greatest-number-of-wild-tigers.html</a>
</small>
<script>
    function createChart() {
        $("#tigers-in-the-wild").kendoChart({
            legend: {
                visible: false
            },
            chartArea: {
                background: ""
            },
            seriesDefaults: {
                type: "donut",
                startAngle: 150
            },
            series: [{
                overlay: {
                    gradient: "none"
                },
                name: "2010",
                data: [{
                    category: "India",
                    value: 1706,
                },{
                    category: "Malaysia",
                    value: 500,
                },{
                    category: "Bangladesh",
                    value: 440,
                },{
                    category: "Russia",
                    value: 360,
                },{
                    category: "Indonesia",
                    value: 325,
                },{
                    category: "Thailand",
                    value: 200,
                },{
                    category: "Nepal",
                    value: 155,
                },{
                    category: "Myanmar",
                    value: 85,
                },{
                    category: "Bhutan",
                    value: 75,
                },{
                    category: "China",
                    value: 45,
                },{
                    category: "Cambodia",
                    value: 20,
                },{
                    category: "Vietnam",
                    value: 20,
                },{
                    category: "Laos",
                    value: 17,
                }]
            }, {
                overlay: {
                    gradient: "none"
                },
                name: "2014",
                data: [{
                    category: "India",
                    value: 2226,
                },{
                    category: "Malaysia",
                    value: 250,
                },{
                    category: "Indonesia",
                    value: 371,
                },{
                    category: "Russia",
                    value: 433,
                },{
                    category: "Nepal",
                    value: 198,
                },{
                    category: "Thailand",
                    value: 189,
                },{
                    category: "Bangladesh",
                    value: 106,
                },{
                    category: "Bhutan",
                    value: 103,
                },{
                    category: "China",
                    value: 7,
                },{
                    category: "Vietnam",
                    value: 5,
                },{
                    category: "Laos",
                    value: 2,
                }],
                labels: {
                    visible: true,
                    background: "transparent",
                    position: "outsideEnd",
                    template: "#= category #: \n #= value#"
                }
            }],
            tooltip: {
                visible: true,
                template: "#= category # (#= series.name #): #= value #"
            }
        });
    }

    $(document).ready(createChart);
    $(document).bind("kendo:skinChange", createChart);
</script>