<div id="tigers-present">
    <h4>Tigers in The Glacial Period VS Tigers Now</h4>
    <p>This map shows the countries in which tigers were present before the so-called "holocene extinction", or "age of man", began. In the darker blue the countries are visible where tigers are still present. Do note that the full country is coloured even though tiger populations only exist scarcely throughout the country.</p>
    <div id="tigers-present-map"></div>

    <p class="tigers_2020 text-light mt-2" style="display: inline-block; width: max-content">Tigers 2020</p>
    <p class="tigers_glacial text-light mt-2" style="display: inline-block; width: max-content">Tigers Glacial</p> <br>
    <small> Source: <a href="https://en.wikipedia.org/wiki/Tiger">Historic and current distribution of tigers: Wikipedia</a>
    </small>

    <kendo:chart>
        <kendo:chart-legend></kendo:chart-legend>
    </kendo:chart>

    <script>
        function createMap() {
            $("#tigers-present-map").kendoMap({
                center: [49.122910, 87.503788],
                zoom: 2,
                layers: [{
                    type: "shape",
                    dataSource: {
                        type: "geojson",
                        transport: {
                            read: "data/merge__countries.__nr-of-tige.geo.json"
                        }
                    },
                    style: {
                        fill: {
                            opacity: 0.8
                        }
                    },
                }],
                shapeCreated: onShapeCreated,
                shapeFeatureCreated: onShapeFeatureCreated,
                shapeMouseEnter: onShapeMouseEnter,
                shapeMouseLeave: onShapeMouseLeave
            });
        }

        function onShapeCreated(e) {
            var color_glacial="#9999FF";
            var color_2020="#012345";
            var shape = e.shape;
            var tigers_2020 = shape.dataItem.properties['Tigers now'];
            var tigers_glacial = shape.dataItem.properties['Tigers during the glacial period']
            if(tigers_2020==1){
                shape.options.fill.set("color", color_2020);
            }
            else if (tigers_glacial==1) {
                shape.options.fill.set("color", color_glacial);
            }
        }

        function onShapeFeatureCreated(e) {
            e.group.options.tooltip = {
                content: e.properties.name,
                position: "cursor",
                offset: 10
            };
        }

        function onShapeMouseEnter(e) {
            e.shape.options.set("fill.opacity", 1);
        }

        function onShapeMouseLeave(e) {
            e.shape.options.set("fill.opacity", 0.8);
        }

        $(document).ready(createMap);

        $(window).resize(function(){
            const map = $("#tigers-present-map").data("kendoMap");
            map.resize();
            map.center([49.122910, 87.503788])
        });
    </script>
</div>


