<div id="tigers-present">

    <div id="map"></div>

    <kendo:chart>
        <kendo:chart-legend></kendo:chart-legend>
    </kendo:chart>

    <script>
        function createMap() {
            $("#map").kendoMap({
                center: [49.122910, 87.503788],
                zoom: 2,
                layers: [{
                    type: "shape",
                    dataSource: {
                        type: "geojson",
                        transport: {
                            read: "data/merge__countries.__nr-of-tige.geo.json"
                        }
                    },
                    style: {
                        fill: {
                            opacity: 0.8
                        }
                    },
                }],
                shapeCreated: onShapeCreated,
                shapeFeatureCreated: onShapeFeatureCreated,
                shapeMouseEnter: onShapeMouseEnter,
                shapeMouseLeave: onShapeMouseLeave
            });
        }

        function onShapeCreated(e) {
            var color_glacial="#9999FF";
            var color_2020="#012345";
            var shape = e.shape;
            var tigers_2020 = shape.dataItem.properties['Tigers now'];
            var tigers_glacial = shape.dataItem.properties['Tigers during the glacial period']
            if(tigers_2020==1){
                shape.options.fill.set("color", color_2020);
            }
            else if (tigers_glacial==1) {
                shape.options.fill.set("color", color_glacial);
            }
        }

        function onShapeFeatureCreated(e) {
            e.group.options.tooltip = {
                content: e.properties.name + " " + e.properties['Tigers now'] + " " + e.properties['Tigers during the glacial period'],
                position: "cursor",
                offset: 10
            };
        }

        function onShapeMouseEnter(e) {
            e.shape.options.set("fill.opacity", 1);
        }

        function onShapeMouseLeave(e) {
            e.shape.options.set("fill.opacity", 0.8);
        }

        $(document).ready(createMap);
    </script>
</div>


